body {
  background-color: #fff;
  margin: 0;
}
.main {
  max-width: 1400px;
  margin: 0 auto;
}
.setting-title {
  text-align: center;
  margin-top: 10px;
}

.table-column-editor .textarea {
  word-break: break-all;
  word-wrap: break-word;
}
.textarea-wrapper {
  position: relative;
  .orc-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}
.code-render {
  white-space: pre-line; /* CSS 保持换行 */
}
.page-setting .ant-card-body {
  padding-bottom: 0;
}
.table-columns-config > .ant-pro-card > .ant-pro-card-body {
  padding: 0;
}
.table-columns-config .ant-pro-table-list-toolbar-container {
  padding-top: 0;
}
.table-columns-config .ant-pro-table-list-toolbar-title {
  font-size: 14px;
}
